[Unit]
Description=Fashion Search API (Docker Compose)
After=network.target docker.service
Requires=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/opt/multimodal-fashion-recommender-system
ExecStart=/usr/bin/docker compose -f docker-compose.prod.yaml up -d
ExecStop=/usr/bin/docker compose -f docker-compose.prod.yaml down
TimeoutStartSec=120
User=__RUN_USER__
Group=__RUN_GROUP__

[Install]
WantedBy=multi-user.target
