apiVersion: v1
kind: Service
metadata:
  name: multimodal-fashion-recommender
  namespace: mfs
spec:
  selector:
    app: multimodal-fashion-recommender
  ports:
    - port: 3000
      targetPort: 3000
  type: ClusterIP
